body{
    background-color: pink;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: hotpink;
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    cursor:pointer;
}



.vertical-center {
  margin-top: 20px;             /* space between h1 and button */
  margin-bottom: 20px;
  width: 250px;
  height: 120px;
  background-color: aliceblue;
  border: 2px solid deeppink;
  border-radius: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgb(0,0,0,0.2);
}



li{
    color: palevioletred;
    text-align: center;
}

ul, ol {
  list-style-position: inside; /* Keeps bullets/numbers inside the content box */
  text-align: center;          /* Center the text */
  padding-left: 0;             /* Remove default indentation */
  margin: 0 auto;              /* Center the block itself */
}


p{
    color: deeppink;
}
.table{
    border-collapse: collapse;
    width: 100%;
    border-style: solid;
    color: black;
    border: 1px solid black;
}

.table th,
.table tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

table td{
    color: palevioletred;
}

tbody tr:nth-child(2) td:not(:last-child) {
  border-right: 1px solid black;  /* Border between cells */
}

.button-class{
    padding: 10px 20px;
    font-size: 18px;
    cursor:pointer;   
    border: 2px solid deeppink;
    border-radius: 10px;
    background-color: skyblue;
    justify-content: center;
    font-size: large;
    font-family: monospace;
    display: inline-block;
    margin: 5px;
    
    
}

.footer{
    
    position: fixed;
    height: 200;
    width: 10px;
    padding: 10px;
    
}

.newButton{
     padding: 10px 20px;
    font-size: 18px;
    cursor:pointer;   
    border: 2px solid deeppink;
    border-radius: 10px;
    background-color: skyblue;
    justify-content: center;
    font-size: large;
    font-family: monospace;
    display: inline-block;
    margin: 5px;
}